
<div id="body">
        <p>This application keeps locally information about the last user that has logged in.</p>
        <p>The application does not share this information.</p>
        <p>This application SENDS and RECIEVES information about generated teams, evoluations criteria and their assessments.</p>        
        <p>This information does not harm the consumer, does not contain any personal information and is in no way connected with the user.</p> 
        <p>The information provided will be in no way distributed to third party indivudials or officials.</p>
        <p>Special measurements have been taken to prevent information leakage.</p>
        <p>If you have any question about the secrecy policy, do not hesitate to contact me at:</p>
        <p>vbaleva@yahoo.com</p>
    </div>